<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "logger": "%logger",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "%message",
                        "traceId": "%mdc{traceId}",
                        "spanId": "%mdc{spanId}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>    </appender>
    <root level="info">
        <appender-ref ref="stdout_json" />
    </root>
</configuration>